# Default
* @BigTava @leonardocustodio @ba1uev @piggydoughnut

# Sandbox
/apps/sandbox @ba1uev @leonardocustodio @Cyr06130

# Host
/apps/host @lovelaced @piggydoughnut @BigTava @Cyr06130

# Desktop
/apps/desktop @replghost

# Core
/packages/core @ba1uev @BigTava @leonardocustodio @Cyr06130

# Other packages
/packages/sandbox-checker @TorstenStueber
/packages/eslint-config @leonardocustodio @Cyr06130
/packages/typescript-config @leonardocustodio @Cyr06130

# Server configuration
/Makefile @KarimJedda
/nginx @KarimJedda

# Workflows and actions
/.github @KarimJedda @paritytech/ci
