# App URL - used for asset base path and logo home link.
# Examples:
# https://dot.li/
# https://paritytech.github.io/dotli/
# http://localhost:5173/
VITE_APP_URL=
VITE_APP_ENV=
VITE_SENTRY_DSN_HOST=

SENTRY_AUTH_TOKEN=
